.groundwaterContainer
{
    max-width: 100vw;
    flex: 100%;
    display: none;
    z-index: 10;
}

#groundwaterSubTwo
{
    top: -55vh;
}

#groundwaterSubThree
{
    top: -80vh;
}

#groundwaterSubFour
{
    top: -35vh;
}

#groundwaterSubFive
{
    top: -35vh;
}

#groundwaterSubSix
{
    top: -60vh;
}

#groundwaterSubSeven
{
    top: -120vh;
}

#groundwaterOne
{
    position: relative;
    top: 18%;
    left: -32%;
    width: 63vw;
}

#groundwaterTwo
{
    position: relative;
    top: 40%;
    left: 34.7%;
}

#groundwaterThree
{
    position: relative;
    top: 40%;
    left: -33%;
}

#groundwaterFour
{
    position: relative;
    top: 10%;
    left: 34.7%;
}

#groundwaterFive
{
    position: relative;
    top: 22%;
    left: 1.1%;
}

#groundwaterSix
{
    position: relative;
    top: 20%;
    left: -29.7%;
    z-index: -5;
}

#imagewaterThree
{
    position: relative;
    top: 25%;
    left: 7.5%;
}

#groundwaterGridOne
{
    position: relative;
    top: -30%;
    left: -50%;
}

#groundwaterGridTwo
{
    position: relative;
    top: -2%;
    left: -16.3%;
}

#groundwaterGridThree
{
    position: relative;
    top: -48%;
    left: -44.7%;
}

#groundwaterGridFour
{
    position: relative;
    top: 28%;
    left: -44.7%;
}

#groundwaterGridFive
{
    position: relative;
    top: -30%;
    left: -16.4%;
}

#groundwaterGridSix
{
    position: relative;
    top: 8%;
    left: 4.7%;
}

#groundwaterGridSeven
{
    position: relative;
    top: -60%;
    left: -44.7%;
}

.copyTextGroundWaterOne
{
    position: relative;
    top: 2%;
    width: 22%;
}

.copyTextGroundWaterTwo
{
    position: relative;
    top: 25%;
    left: 8%;
    width: 22%;
}

.copyTextGroundWaterThree
{
    position: relative;
    top: -26%;
    left: 35.4%;
    width: 22%;
}

#groundwaterImageDescriptionOne
{
    position: relative;
    top: -27%;
    left: 9%;
    width: 14%;
}

#groundwaterImageDescriptionTwo
{
    position: relative;
    top: 0%;
    left: 35.5%;
    width: 14%;
}

#groundwaterImageDescriptionThree
{
    position: relative;
    top: -45%;
    left: 7%;
    width: 14%;
}

#groundwaterImageDescriptionFour
{
    position: relative;
    top: 30%;
    left: 7%;
    width: 14%;
}

#groundwaterImageDescriptionFive
{
    position: relative;
    top: 4%;
    left: 7.1%;
    width: 14%;
}

.endlineGroundWater
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineGroundWaterTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 25%;
    left: 0%;
    border-bottom: 1px dotted black;
}

.endlineGroundWaterThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 40%;
    left: 0%;
    border-bottom: 2px solid black;
}


#referenceBlockGroundwater
{
    width: 85%;
    height: 8%;
    position: absolute;
    top: 8%;
    left: 8%;
}

#referenceBlockGroundwaterTwo
{
    width: 85%;
    height: 8%;
    position: absolute;
    top: 30%;
    left: 8%;
}

.referencesGroundWater
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}