.khalsContainer
{
    max-width: 100vw;
    flex: 100%;
    display: none;
}

.TemplateContainer {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 42pt;
    padding: 0px 3vw;
    height: 150vh;
    position: relative;
}

.TemplateBlock {
    line-height: 25vh;
    text-align: right;
    width: 100%;
    height: 100%;
    position: relative;
}

.templateQuote
{
    position: absolute;
    top: 17.5%;
    left: 35.5%;
    width: 20%;
    text-align: left;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

#khalsSubFour
{
    top: -60vh;
}

#khalsSubFive
{
    top: -90vh;
}

#khalsSubSix
{
    top: -70vh;
}

#khalsSubSeven
{
    top: -60vh;
}

.mainTitle
{
    position: absolute;
    top: 17.5%;
    left: 1.5%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
}

.copyText
{
    position: absolute;
    top: 17.5%;
    left: 35.5%;
    width: 30%;
    text-align: left;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}


.TemplateImageDescription
{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    width: 17%;
    text-align: left;
}

.TemplateImageContainer
{
    width: 50%;
    display: inline-grid;
    position: absolute;
}

#gridImage
{
    width: 14.5vw;
    margin-left: 25px;
    height: auto;
}

#gridImageSmaller
{
    width: 13.5vw;
    margin-left: 30px;
    margin-right: 5px;
    height: auto;
}

#gridImageMiddle
{
    width: 25vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 2vh;
    height: auto;
    pointer-events: none;
}

#gridImageLarger
{
    width: 31vw;
    margin-left: 25px;
} 

.small
{
    width: 14.5vw;
    height: auto;
    padding: 5px;
}

.middle
{
    width: 25vw;
    height: auto;
    display: block;
    padding: 10px;
}

.middleLarge
{
    width: 31vw;
    height: auto;
    display: block;
    padding: 10px;
}

.large
{
    width: 46vw;
    height: auto;
}

.extraLarge
{
    width: 64.5vw;
    height: auto;
}

#khalsHorizontalGridOne
{
    top: 270vh;
    left: 14.7vw;
    z-index: 1;
    pointer-events: none;
}

#khalsGridTwo
{
    top: 60vh;
    left: 7.5vw;
    z-index: 1;
    pointer-events: none;
}

#khalsGridThree
{
    top: 52vh;
    left: 29vw;
    z-index: 1;
    pointer-events: none;
}

#khalsGridFour
{
    top: 150vh;
    left: 13vw;
    z-index: 1;
    pointer-events: none;
}

#khalsVideoOne
{
    position: absolute;
    top: 65%;
    left: 18.3%;
    z-index: 0;
}

#khalsVideoThree {
    position: absolute;
    top: 50%;
    left: 18.3%;
    z-index: 0;
}

#khalsVideoFour {
    position: absolute;
    top: 50%;
    left: 18.3%;
    z-index: 0;
}

#khalsVideoFive {
    position: absolute;
    top: -20%;
    left: 5%;
    z-index: 0;
}

#khalsVideoSix {
    position: absolute;
    top: 42%;
    left: 1.5%;
    z-index: -1;
}

#khalsVideoSeven {
    position: absolute;
    top: -50%;
    left: 12.5%;
    z-index: -2;
}

#khalsQuoteOne
{
    top: 44vh;
    left: 10%;
}

/* #khalsVideoTwo
{
    width: 29.5vw;
} */

#khalsImageDescriptionOne
{
    position: absolute;
    top: 98%;
    left: 35%;
}

#khalsImageDescriptionTwo
{
    position: absolute;
    top: 105%;
    left: 36%;
}

#khalsImageDescriptionThree
{
    position: absolute;
    top: 60%;
    left: 36%;
}

#khalsImageDescriptionFour
{
    position: absolute;
    top: 85%;
    left: 36%;
}

#khalsImageDescriptionFive
{
    position: absolute;
    top: 120%;
    left: 36%;
}

#khalsImageDescriptionSix
{
    position: absolute;
    top: 115%;
    left: 36%;
}

#khalsGridOne
{
    top: 35%;
    left: 13.5%;;
}

.khalsMapContainer
{
    width: 46vw;
    height: auto;
    position: absolute;
    top: 70vh;
    left: 18%;
}

.endLineKhals
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: -15%;
    left: 0%;
    border-bottom: 1px solid black;
}

#oneRefKhals
{
    top: -10%;
    left: 36%;
}

#twoRefKhals
{
    top: -5%;
    left: 36%;
}

#threeRefKhals
{
    top: -1%;
    left: 36%;
}