.londonContainer
{
    max-width: 100vw;
    flex: 100%;
    display: none;
    z-index: 10;
}

#londonSubTwo
{
    top: -55vh;
}

#londonSubThree
{
    top: -120vh;
}

#londonSubFour
{
    top: -155vh;
}

#londonSubFive
{
    top: -135vh;
}

#londonOne
{
    position: relative;
    top: 0;
    left: -15%;
    z-index: -1;
    width: 120%;
}

#londonImageDescriptionOne
{
    position: relative;
    top: -5%;
    left: 35.5%;
    width: 12%;
}

#titleTwo
{
    position: relative;
    top: 70vh;
}

#copyTwo
{
    position: relative;
    top: 62vh;
}

#londonLinks
{
    position: relative;
    top: 28vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonHeading
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1vh;
}

.londonReferences
{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: left;
}

#londonLinksTwo
{
    position: relative;
    top: 35vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainer
{
    margin-bottom: 10vh;
}

#londonGridOne
{
    top: 21.5%;
    left: 5.3%;
}

.endlineLondon
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

#referenceBlockLondon
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 100%;
    display: block;
}

.referencesLondon
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}