* 
{
    box-sizing: border-box;
}
html
{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#grid
{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0vw;
}
body 
{
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;
}
.headings
{
    position: absolute;
    bottom: 0.5vh;
    width: 3vw;
    height: 100vh;
    border-right: 3px solid black;
    padding: 0;
    margin: 0;
    z-index: 3;
}
.headingTitle
{
    margin: 10px;
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top: 4.8vh;
    right: -3px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
}
.headingItem
{
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top: 25vh;
    right: 0vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 1;
}
#events
{
    top: 25.8vh;
    left: 0.2vw;
}
#residency
{
    top: 28vh;
    left: 0.2vw;
}
#glossary
{
    top: 32.5vh;
    left: 0.2vw;
}
#collaborators
{
    top: 36vh;
    left: 0.2vw;
}
#acknowledgements
{
    top: 42.5vh;
    left: 0.2vw;
}
#monsoonAssemblages
{
    top: 53.2vh;
    left: 0.2vw;
}
#scene
{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;

}
#mainSection::-webkit-scrollbar 
{
    display: none;
}
.cityTitle
{
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    top: 13.5vh;
    left: -5px;
    font-size: 18px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    margin: 0;
}

.UrbanAssemblagesChapterName
{
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    top: 11.5vh;
    left: 15px;
    font-size: 18px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    margin: 0;
}


#cityHeadings
{
    position: relative;
    top: 19vh;
    left: 4vw;
    font-family: 'Sora', sans-serif;
}
#cityNameContainer
{
    display: inline-block;
}
.cityTitlePrimary
{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 60px;
    position: relative;
    left: 0.5vw;
    top: 9vh;
    font-family: 'Sora', sans-serif;
}

.cityTitlePrimary:hover
{
    font-weight: 900;
}

.cityTitlePrimary:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .cityTitlePrimary:hover:after { 
    width: 100%; 
    left: 0;
  }
.cityName
{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    line-height: 63px;
    position: absolute;
    left: 15px;
    top: 95px
}
.content
{
    position: relative;
    width: 28vw;
    height: 100vh;
    left: 680px;
    top: 270px; 
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}
#contentTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 30px;
    width: 25vw;   
}
.contentText
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    width: 26vw;
}
.hydrologicalContentText
{
    position: absolute;
    width: 28vw;
    height: 100vh;
    left: 33.5vw;
    top: 26.5vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.TerritorialDisruptionText
{
    position: absolute;
    width: 22vw;
    height: 100vh;
    right: 6vw;
    top: 15vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#TerritorialDisruptionPrimaryPanel
{
    position: relative;
    width: 28vw;
    height: 100vh;
    left: 0.5vw;
    top: 23vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
}
#YeGyanZin
{
    position: relative;
    width: 28vw;
    height: 100vh;
    left: -0.5vw;
    top: 33vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
}

#potScroll
{
    width: 25vw;
    height: 73.5vh;
    position: absolute;
    bottom: 0vh;
    left: 35vw;
    overflow-y: scroll;
    overflow-x: 0;
    z-index: 5;
    display: none;
}
.pots
{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}
.ChapterName
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    position: absolute;
    left: 0.8vw;
    top: 5vh;
}
.YeGyanZinChapterName
{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    position: absolute;
    left: 1.1vw;
    top: 5vh;
    display: none;
}
#TerritorialDisruptionVideo
{
    width: 33vw;
    height: 30vw;
    position: absolute;
    left: 33vw;
    bottom: 28vh;
    display: block;
    opacity: 0;
}
#TerritorialDisruptionImage1
{
    left: 3vw;
    display: block;
    opacity: 0;
}
#TerritorialDisruptionImage2
{
    left: 33vw;
    display: block;
    opacity: 0;
}
#TerritorialDisruptionImage3
{
    left: 66vw;
    display: block;
    opacity: 0;
}

#TerritorialDisruptionImage4
{
    left: 3vw;
    display: block;
    opacity: 0;
    bottom: 31vh;
}
#TerritorialDisruptionImage5
{
    left: 33vw;
    display: block;
    opacity: 0;
    bottom: 31vh;
}
#TerritorialDisruptionImage6
{
    left: 66vw;
    display: block;
    opacity: 0;
    width: 36.3vw;
    height: auto;
    bottom: 31vh;
}

#TerritorialDisruptionImage7
{
    left: 3vw;
    display: block;
    opacity: 0;
    width: 30vw;
    height: auto;
    bottom: -5vh;
}
#TerritorialDisruptionImage8
{
    left: 33vw;
    display: block;
    opacity: 0;
    bottom: -7vh;
}
#TerritorialDisruptionImage9
{
    left: 66vw;
    display: block;
    opacity: 0;
    bottom: -7vh;
}
.TerritorialDisruptionImages
{
    width: 40vw;
    height: 40vh;
    position: absolute;
    bottom: 0;
}

#InfrastructuraExcessVideo
{
    width: 33vw;
    height: 55vh;
    position: absolute;
    left: 3vw;
    bottom: -10vh;
    opacity: 1;
    display: none;
}
.InfrastructuralExcess
{
    width: 40vw;
    height: 40vh;
    position: absolute;
    bottom: 0;
}

#InfrastructuraExcessImage1
{
    left: 66vw;
    display: block;
    opacity: 1;
    bottom: 0vh;
    width: 35vw;
    height: 35vh;
    display: none;
}

#InfrastructuraExcessImage2
{
    left: 36vw;
    width: 30vw;
    height: auto;
    display: block;
    opacity: 1;
    bottom: 35vh;
    display: none;
}

#TerraTerraAqueous1
{
    width: 33vw;
    height: 55vh;
    position: absolute;
    left: 3vw;
    bottom: -10vh;
    opacity: 1;
    display: none;
}
#TerraTerraAqueous2
{
    width: 30vw;
    height: 55vh;
    position: absolute;
    left: 36vw;
    bottom: 23.5vh;
    opacity: 1;
    display: none;
}
#TerraTerraAqueous3
{
    width: 33vw;
    height: 55vh;
    position: absolute;
    left: 36vw;
    bottom: -10vh;
    opacity: 1;
    display: none;
}
#FisherPrimaryPanel
{
    position: relative;
    width: 18vw;
    height: 100vh;
    left: 0vw;
    top: 30vh;
    padding: 10px;
    font-size: 19px;
}

.fishImages
{
    position: absolute;
    width: 27vw;
    height: auto;
    left: 36vw;
}
#fishImage1
{
    top: 30vh;
}
#fishImage2
{
    top: 63vh;
}
.fisherText
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#blueLinesOne
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    display: block;
    z-index: -5;
    display: none;
}
#accordianSection
{
    position: relative;
    width: 100%;
    left: 67.5vw;
    bottom: 0.5vw;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.tabSubtitles
{
    position: absolute;
    transform: rotate(90deg);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#DragonFlies
{
    bottom: 17.8vh;
    right: 5.99vw
}
#HilsaFish
{
    bottom: 9.5vh;
    right: 6.5vw;
}
#Snakes
{
    bottom: 2.5vh;
    right: 7vw;
}
#Weeds
{
    bottom: -3.5vh;
    right: 7.1vw;
}
#Bricks
{
    bottom: 20vh;
    right: 2vw;
}
#Khals
{
    bottom: 15vh;
    right: 2.2vw;
}
#PipesAndPots
{
    bottom: 8vh;
    right: 0.7vw;
    width: 5vw;
}
#Plastic
{
    bottom: 0.5vh;
    right: 1.9vw;
}
#Tanks
{
    bottom: -4.8vh;
    right: 2.1vw;
}
#Atmoshere
{
    bottom: 18.2vh;
    right: -0.7vw;
}
#Drawing
{
    bottom: 19.1vh;
    right: -0.2vw;
}
#Ethnography
{
    bottom: 11.5vh;
    right: -0.9vw;
}
#Space
{
    bottom: 4.5vh;
    right: 0.25vw;
}
#Time
{
    bottom: 0.1vh;
    right: 0.55vw;
}
#Pedagogy
{
    bottom: -5.6vh;
    right: -0.3vw;
}
#Air
{
    bottom: -29.5vh;
    right: 18.9vw;
}
#Atmosphere
{
    bottom: -35vh;
    right: 17.2vw;
}
#Groundwater
{
    right: 17.1vw;
    bottom: -44vh;
}
#Ocean
{
    right: 18.3vw;
    bottom: -51.3vh;
}
#Salt
{
    right: 18.8vw;
    bottom: -55.5vh;
}
#Sediment
{
    right: 17.75vw;
    bottom: -61vh;
}
#ChennaiNav
{
    right: 17.8vw;
    bottom: -31vh;
}
#DhakaNav
{
    right: 18.25vw;
    bottom: -36.5vh;
}
#LondonNav
{
    right: 18vw;
    bottom: -49vh;
}
#YangonNav
{
    right: 18.1vw;
    bottom: -42.5vh;
}
ul 
{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li 
{
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 0.5s ease;
    width: 60px;
    border-left: 3px solid black;
}
/* li:hover 
{
    background: #eeeeee;
} */
li.active 
{
    background: rgba(255, 255, 255, 0);
    cursor: default;
    width: 385px;
}
li.active h2 {
    color: black;
}
li.active .section-content 
{
    opacity: 1;
    color: black;
    position: relative;
    right: 2vw;
}
.text
{
    width: 15vw;
}
li .section-title 
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    position: relative;
    right: 2vw;
    bottom: 44.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
li .section-title h2 
{
    margin: 0;
    transform: rotate(90deg);
    white-space: nowrap;
}
li .section-content 
{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    /* transition: all 0.25s 0.5s ease-out; */
}
.focusedSubtitles
{
    position: absolute;
    display: block;
    width: 500px;
    left: -4vw;
    bottom: 50vh;
}
.focusedSingleSubtitle
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
}
.focusedSingleSubtitle:hover
{
    text-decoration: underline;
    cursor: pointer;
}
#focusedSubtitlesOne
{
    bottom: 52.8vh;
    left: -3.3vw;
}
#focusedSubtitlesTwo
{
    bottom: 56vh;
    left: -8.8vw;
}
#focusedSubtitlesThree
{
    left: -2vw;
    bottom: 52.5vh;
}
#focusedSubtitlesFour
{
    left: -1vw;
    bottom: 49vh;
}
#focusedSubtitlesFive
{
    left: -6.2vw;
    bottom: 56vh;
}
a
{
    color: black;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0);
  }

  #Interlocutors
  {
      position: relative;
      top: 5.3vh;
      right: 0vw;
  }

  #Infrastructure
  {
      position: relative;
      top: 9.8vh;
      right: 55px;
  }

  #Framings
  {
      position: relative;
      top: 3.4vh;
      left: 10px;
  }

  #Matters
  {
      position: relative;
      top: 3vh;
      left: 17px;
  }

  #UrbanAssemblages
  {
      position: relative;
      top: 7.5vh;
      right: 30px;
  }
  .subtitleContainer
  {
      display: inline;
      font-weight: 400;
  }

  #dhakaVideo
  {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0vh;
      z-index: -1;
  }

  #videoContent
  {
      display: none;
      opacity: 0;
  }

  #imageContent
  {
      width: 40vw;
      height: 45vh;
      padding: 0;
      margin: 0;
      position: relative;
      bottom: 102vh;
      left: 10vw;
      text-align: center;
      opacity: 0;
  }

  #imageContent:hover
  {
    cursor: -webkit-zoom-in;
  }

  #hydrologicalImage
  {
      width: 32vw;
      height: 0%;
      height: auto;
      overflow-y: scroll;
  }

  #hydroTitle
  {
    font-family: 'Roboto', sans-serif;
  }

  #explore
  {
      z-index: 5;
  }

  #backHyrdo
  {
      position: absolute;
      left: 22vw;
      top: 95vh;
      width: 50vw;
      z-index: 5;
      opacity: 0;
  }

  .Layout__wrapper-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Layout__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.Layout__main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    z-index: 1;
}

.page-content {
    max-width: 100vw;
    flex: 100%;
}

.col {
    text-align: center;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    font-size: 42pt;
    padding: 0 12.5vw;
    height: 300vh;
}

.block {
    line-height: 25vh;
    text-align: right;
    width: 100%;
    height: auto;
    position: relative;
}

span {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#navbarTitlesContainer
{
    position: absolute;
    top: 27.5%;
    left: 4.5%;
}

.navbarTitles
{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
}


.navbarTitles:hover
{
    text-decoration: underline;
}

.activeNavbarTitle
{
    text-decoration: underline;
}

#RightTextContainer
{
    width: 30%;
    position: absolute;
    top: 24.5%;
    left: 35.5%;
    z-index: -3;
}

.rightSideText
{
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    font-family: 'Roboto', sans-serif;
}

#clupeaIlishaImage
{
    width: 60%;
    height: auto;
    position: absolute;
    left: -10vw;
    top: 10vh;
    z-index: -5;
}
#hilsaFishTextOne
{
    width: 35%;
    z-index: -3;
    text-align: left;
    position: absolute;
    left: 31%;
}
#hilsaFishTextTwo
{
    width: 35%;
    z-index: -3;
    text-align: left;
    position: absolute;
    left: 31%;
    top: 10vh;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}
#hilsaVideo
{
    width: 45vw;
    height: auto;
    position: absolute;
    top: 0vh;
    right: 62%;
}

.leftHandQuote
{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 37px;
    width: 41%;
    text-align: left;
    position: absolute;
    top: 55vh;
    left: -8vw;
    padding: 0;
    margin: 0;
}

.rightHandQuote
{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 37px;
    width: 41%;
    text-align: left;
    position: absolute;
    top: 10vh;
    left: 23vw;
    padding: 0;
    margin: 0;
}

#hilsaOccurances
{
    width: 40vw;
    height: auto;
    position: absolute;
    left: 25vw;
    top: 48vh;
}

#fishContainer
{
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: -73vh;
    left: -8vw;
}

.fishermenImages
{
    width: 30vw;
    height: auto;
    display: block;
    padding: 10px;
}

.theFisherTitle
{
    top: -70vh;
}

.theFisherText
{
    top: -60vh !important;
}

#ChandurTrip
{
    width: 25vw;
    height: auto;
    position: absolute;
    left: 120vw;
    top: 103vh;
}

#fishContainer2
{
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: 30vh;
    left: 23vw;
}

#rightSideQuote
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
}

#rightSideQuoteAuthor
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}