.tanksContainer
{
    max-width: 100vw;
    flex: 100%;
    display: none;
    z-index: 10;
}

#tanksSubTwo
{
    top: -70vh;
}

#tanksSubThree
{
    top: -120vh;
}

#tanksSubFour
{
    top: -120vh;
}

#tanksSubFive
{
    top: -135vh;
}

#tanksSubSix
{
    top: -135vh;
}

#tanksSubSeven
{
    top: -135vh;
}

#tanksSubEight
{
    top: -125vh;
}

#tanksSubNine
{
    top: -120vh;
}

#tanksOne
{
    position: relative;
    top: 27%;
    left: -49.5%;
}

#tanksTwo
{
    position: relative;
    top: 5%;
    left: 34.7%;
}

#tanksThree
{
    position: relative;
    top: 35%;
    left: 1.2%;
}

#tanksFour
{
    position: relative;
    top: 15%;
    left: 34.7%;
    z-index: 5;
}

#tanksFive
{
    position: relative;
    top: 10%;
    left: 25.7%;
}

#tanksSix
{
    position: relative;
    top: -20%;
    left: -33%;
    width: 57vw;
}

#tanksSeven
{
    position: relative;
    top: -35%;
    left: 7.3%;
}

#tanksEight
{
    position: relative;
    top: 25%;
    left: 7.3%;
}

#tanksGridOne
{
    position: relative;
    left: -16.4%;
    top: 35%;
}

#tanksGridTwo
{
    position: relative;
    left: -44.7%;
    top: -34%;
}

#tanksGridThree
{
    position: relative;
    left: -16.5%;
    top: 35%;
}

#tanksGridFour
{
    position: relative;
    left: -45%;
    top: -34%;
}

#tanksGridFive
{
    position: relative;
    left: -45%;
    top: 25%;
}

#tanksGridSix
{
    position: relative;
    left: -16.3%;
    top: -42.3%;
}

#tanksGridSeven
{
    position: relative;
    left: -45%;
    top: -0%;
}

#tanksGridEight
{
    position: relative;
    left: -16.3%;
    top: -30%;
}

#tanksGridNine
{
    position: relative;
    left: -45%;
    top: 30%;
}

#tanksGridTen
{
    position: relative;
    left: -16.3%;
    top: -30%;
}

#tanksImageDescriptionOne
{
    position: relative;
    top: 20%;
    left: 5%;
    width: 25%;
}

#tanksImageDescriptionTwo
{
    position: relative;
    top: -33%;
    left: 7.7%;
    width: 14%;
}

#tanksImageDescriptionThree
{
    position: relative;
    top: -15%;
    left: 9.7%;
    width: 14%;
}

#tanksImageDescriptionFour
{
    position: relative;
    top: -25%;
    left: 35.3%;
    width: 14%;
}

#tanksVideoOne
{
    width: 25vw;
    height: 25vh;
    position: relative;
    left: 1.54vw;
    top: 2vh;
}

#tanksVideoTwo
{
    width: 50vw;
    height: 50vh;
    position: relative;
    left: -42.5vw;
    top: 24vh;
    z-index: -5;
}

#tanksVideoThree
{
    width: 25vw;
    height: 25vh;
    position: relative;
    left: 1.54vw;
    top: 2vh;
}

.endlineTanks
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}